body{
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
}
header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
a{
    text-decoration:none;
}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
.head{
    text-align: center;
    position: relative;


}

.headerobjectswrapper{
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}
.subhea1{
    text-transform: uppercase;
    
    border-top: 2px dashed #2f2f2f;
    padding: 12px 0 12px 0;

}
.hl{
    text-transform:uppercase;
   font-style: italic;
    font-family: 'Playfair Display','serif';
    font-size: 30px;
    font-weight: 400;

}

.author1{
    font-family: 'serif';
    text-transform: capitalize;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    
}

.summary{
    font-weight: 600;
    font-size: 25px;
}
.imgik{
    margin-right:1em;
}

.cric{
    margin-right:1em;
}
.para{
    font-size: 20px;
}
